In [1]:
import pandas as pd

# ola
pd.set_option('display.float_format', lambda x: '%.2f' % x)

ruta_limpia = '../data/MX_videos_limpio.csv'
df = pd.read_csv(ruta_limpia)

print("Dataset limpio cargado. Aquí están las primeras 5 filas:")
df.head()

Dataset limpio cargado. Aquí están las primeras 5 filas:

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,publish_date,category_name
0,SbOwzAl9ZfQ,2017-11-14,CapÃ­tulo 12 | MasterChef 2017,MasterChef 2017,24,2017-11-13T06:06:22.000Z,"MasterChef Junior 2017|""TV Azteca""|""recetas""|""...",310130,4182,361,1836,https://i.ytimg.com/vi/SbOwzAl9ZfQ/default.jpg,False,False,False,Disfruta la presencia del Chef Torreblanca en ...,2017-11-13,Entertainment
1,klOV6Xh-DnI,2017-11-14,ALEXA EX-INTEGRANTE DEL GRUPO TIMBIRICHE RENUN...,Micky Contreras Martinez,22,2017-11-13T05:11:58.000Z,La Voz Mexico 7,104972,271,174,369,https://i.ytimg.com/vi/klOV6Xh-DnI/default.jpg,False,False,False,ALEXA EX-INTEGRANTE DEL GRUPO TIMBIRICHE RENUN...,2017-11-13,People & Blogs
2,6L2ZF7Qzsbk,2017-11-14,LOUIS CKAGÃ - EL PULSO DE LA REPÃBLICA,El Pulso De La RepÃºblica,25,2017-11-13T17:00:02.000Z,"Chumel Torres|""El Pulso de la Republica""|""noti...",136064,10105,266,607,https://i.ytimg.com/vi/6L2ZF7Qzsbk/default.jpg,False,False,False,La canciÃ³n del principio se llama âEste esp...,2017-11-13,News & Politics
3,hcY52MFWMDM,2017-11-14,Sismo de 6.7 sacude Costa Rica 12 Noviembre 2017,Casanare,25,2017-11-13T03:47:10.000Z,"temblor|""costa rica""|""sismo en costa rica""",96153,378,171,208,https://i.ytimg.com/vi/hcY52MFWMDM/default.jpg,False,False,False,El video es de un Walmart en el pais centroame...,2017-11-13,News & Politics
4,_OXDcGPVAa4,2017-11-14,DOG HACKS | MUSAS LESSLIE LOS POLINESIOS,Musas,26,2017-11-13T19:17:48.000Z,"MUSAS|""lesslie""|""karen""|""hacks""|""perros""|""dogs...",499965,57781,681,7428,https://i.ytimg.com/vi/_OXDcGPVAa4/default.jpg,False,False,False,MI HERMANO NARRA MI RUTINA DE MAQUILLAJE\nhttp...,2017-11-13,Howto & Style

In [2]:
print("Estadísticas descriptivas de las columnas numéricas:")
df.describe()

Estadísticas descriptivas de las columnas numéricas:

       category_id        views      likes   dislikes  comment_count
count     40451.00     40451.00   40451.00   40451.00       40451.00
mean         21.00    342381.97   15861.84     747.16        2039.66
std           5.88   1714690.68   81089.87   10953.58       13938.03
min           1.00       157.00       0.00       0.00           0.00
25%          20.00     16813.00     299.00      17.00          42.00
50%          24.00     56973.00    1246.00      63.00         196.00
75%          24.00    206894.00    7226.00     267.00         885.00
max          43.00 100912384.00 4470923.00 1353667.00      905925.00

In [3]:
print("Estadísticas descriptivas de las columnas categóricas:")
df.describe(include=['object'])

Estadísticas descriptivas de las columnas categóricas:

,video_id,trending_date,title,channel_title,publish_time,tags,thumbnail_link,description,publish_date,category_name
count,40451,40451,40451,40451,40451,40451,40451,36227,40451,40451
unique,33513,205,33785,6977,33243,23635,33945,26737,254,16
top,#NAME?,2017-11-14,"Bachatas 2018 Romanticas - Prince Royce, Shaki...",Cracks,2018-01-29T21:00:01.000Z,[none],https://i.ytimg.com/vi/-BQJo3vK8O8/default.jpg,SUSCRIBETE es FACIL http://goo.gl/aLNQ6X\nIMP...,2018-01-29,Entertainment
freq,516,200,30,186,8,7685,5,93,380,13487

In [4]:
stats_by_category = df.groupby('category_name')[['views', 'likes', 'dislikes', 'comment_count']].agg(['mean', 'sum', 'max'])

print("Estadísticas agrupadas por categoría de video:")
stats_by_category

Estadísticas agrupadas por categoría de video:

                           views                           likes             \
                            mean         sum        max     mean        sum
category_name
Autos & Vehicles       195201.83    49190861    2042879 11828.94    2980893
Categoría Desconocida  204892.88    51633006   15808339 11541.32    2908413
Comedy                 456169.63   794647488    9568171 31729.91   55273506
Education               81212.99    43205309    4829416  4794.42    2550632
Entertainment          298626.41  4027574336  100912384 13842.41  186692595
Film & Animation       355870.28   461919619   19336751 13802.19   17915248
Gaming                 424508.83   421961773   11880523 24147.39   24002503
Howto & Style          188726.16   465587429   13432309  9992.34   24651100
Music                 1233970.12  4159713283   62796390 67343.01  227013300
News & Politics        157869.91   491449042   21716633  3826.02   11910414
People & Blogs         150692.72  1229501908   40801423  5865.80   47859054
Pets & Animals         549747.25    45629022    7220687 11933.83     990508
Science & Technology   382040.40   202863454   23789688  9631.96    5114569
Shows                   21812.00       65436      57679   163.67        491
Sports                 343046.41  1389337978   17228602  7621.30   30866251
Travel & Events        131735.47    15413050    1615589  7672.73     897709

                               dislikes                    comment_count  \
                           max     mean       sum      max          mean
category_name
Autos & Vehicles        126991   332.35     83752     9977       1460.75
Categoría Desconocida  1625422  2006.27    505581   334553       3815.82
Comedy                  650194  1378.12   2400688   194855       3925.71
Education               229642   126.71     67408     4796        555.74
Entertainment          2656698   825.91  11139060  1353667       2201.30
Film & Animation        442167   398.04    516653    13183       1577.95
Gaming                  321693   943.90    938239    26746       2904.73
Howto & Style           315370   321.18    792362    25218       1492.56
Music                  4470923  2360.53   7957335   119053       6450.48
News & Politics         475274   307.54    957379    17506        748.05
People & Blogs         1366795   394.60   3219558   244239        895.31
Pets & Animals          129054   767.63     63713    18499       2000.73
Science & Technology    393116   519.51    275862    30747       1660.09
Shows                      369    30.33        91       52        110.33
Sports                  784298   315.91   1279451    46697        791.63
Travel & Events          97714   224.38     26253     4299        886.82


                            sum     max
category_name
Autos & Vehicles         368109   28923
Categoría Desconocida    961586  561506
Comedy                  6838587  337345
Education                295654   25513
Entertainment          29688886  827784
Film & Animation        2048173   61862
Gaming                  2887305   56902
Howto & Style           3682138  102585
Music                  21744565  905925
News & Politics         2328675   61122
People & Blogs          7304854  237907
Pets & Animals           166061   34236
Science & Technology     881509  122349
Shows                       331     242
Sports                  3206096   47234
Travel & Events          103758   11449

In [5]:
stats_ordenadas_por_vistas = stats_by_category.sort_values(by=('views', 'mean'), ascending=False)

print("Estadísticas por categoría, ordenadas por el PROMEDIO de vistas:")
stats_ordenadas_por_vistas

Estadísticas por categoría, ordenadas por el PROMEDIO de vistas:

                           views                           likes             \
                            mean         sum        max     mean        sum
category_name
Music                 1233970.12  4159713283   62796390 67343.01  227013300
Pets & Animals         549747.25    45629022    7220687 11933.83     990508
Comedy                 456169.63   794647488    9568171 31729.91   55273506
Gaming                 424508.83   421961773   11880523 24147.39   24002503
Science & Technology   382040.40   202863454   23789688  9631.96    5114569
Film & Animation       355870.28   461919619   19336751 13802.19   17915248
Sports                 343046.41  1389337978   17228602  7621.30   30866251
Entertainment          298626.41  4027574336  100912384 13842.41  186692595
Categoría Desconocida  204892.88    51633006   15808339 11541.32    2908413
Autos & Vehicles       195201.83    49190861    2042879 11828.94    2980893
Howto & Style          188726.16   465587429   13432309  9992.34   24651100
News & Politics        157869.91   491449042   21716633  3826.02   11910414
People & Blogs         150692.72  1229501908   40801423  5865.80   47859054
Travel & Events        131735.47    15413050    1615589  7672.73     897709
Education               81212.99    43205309    4829416  4794.42    2550632
Shows                   21812.00       65436      57679   163.67        491

                               dislikes                    comment_count  \
                           max     mean       sum      max          mean
category_name
Music                  4470923  2360.53   7957335   119053       6450.48
Pets & Animals          129054   767.63     63713    18499       2000.73
Comedy                  650194  1378.12   2400688   194855       3925.71
Gaming                  321693   943.90    938239    26746       2904.73
Science & Technology    393116   519.51    275862    30747       1660.09
Film & Animation        442167   398.04    516653    13183       1577.95
Sports                  784298   315.91   1279451    46697        791.63
Entertainment          2656698   825.91  11139060  1353667       2201.30
Categoría Desconocida  1625422  2006.27    505581   334553       3815.82
Autos & Vehicles        126991   332.35     83752     9977       1460.75
Howto & Style           315370   321.18    792362    25218       1492.56
News & Politics         475274   307.54    957379    17506        748.05
People & Blogs         1366795   394.60   3219558   244239        895.31
Travel & Events          97714   224.38     26253     4299        886.82
Education               229642   126.71     67408     4796        555.74
Shows                      369    30.33        91       52        110.33


                            sum     max
category_name
Music                  21744565  905925
Pets & Animals           166061   34236
Comedy                  6838587  337345
Gaming                  2887305   56902
Science & Technology     881509  122349
Film & Animation        2048173   61862
Sports                  3206096   47234
Entertainment          29688886  827784
Categoría Desconocida    961586  561506
Autos & Vehicles         368109   28923
Howto & Style           3682138  102585
News & Politics         2328675   61122
People & Blogs          7304854  237907
Travel & Events          103758   11449
Education                295654   25513
Shows                       331     242